body{
    background-color: crimson;
}
header{
    text-align: center;
    font-size: xx-large;
    text-decoration: double underline;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 2px 2px 5px rgb(221 89 48);
}
.product-img{
    max-width: 200px;
}

#container {
    display: flex;
    flex-direction: column;
    max-width: 200px;

}

.input-container{
    margin: 12px;
}

#navbar h1{
    text-align: center;
    font-size: x-large;
    margin-block: 20px;
}

#navbar p{
    font-size: larger;
    font-style: italic;
    font-weight: bold;
}
div h1 {
    text-align: left;
    padding: 10px;
    margin-right: 48px;
    margin-bottom: 10px;
    font-size: medium;
    text-decoration: underline;
}

#items {
    display: grid;
    justify-items: start;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-style: oblique;
}
